.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/editor_layout.cfg
.godot/editor/game.tscn-editstate-48098ae8ebccff381d6d8d0517b18734.cfg
.godot/editor/script_editor_cache.cfg
.godot/editor/editor_layout.cfg
.godot/editor/script_editor_cache.cfg
